body {
    margin: 10px;
}

select:focus{
    outline: none;
}

.accent {
    transition: color 0.3s ease;
}

*{
    margin: 10px;
    transition: all 0.3s ease;
}

.header-container{
    display: flex;
    gap: 15vw;
}

.middle-container{
    margin-bottom: 5vh;
}

th,td{
    padding: 10px;    
}

input{
    padding: 10px;
    border-radius: 5px;
    border-style: double;
}

select{
    padding: 5px 10px;
    border-radius: 5px;
}

div > button{
    padding: 10px 15px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

/* Estilos transacciones */
.header-transaction, .header-alerts{
    display: flex;
    width: 85vw;
    justify-content: space-between;
    align-items: center;
}

.header-transaction>div>a, .header-alerts>div>a{
    padding: 10px 15px;
}

.add-trade>div>div{
display: flex;
flex-wrap: wrap;
}

.selected-link{
    background-color: rgb(179, 179, 179);
}

.selected-link:hover{
    background-color: #bbbbbb;
}