body {
    background-color: #1a1a1a;
    color: #ffffff;
    background-image: url(../recursos/imagenes/fondobillete.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 0;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    margin: 50px 65px 50px 65px;
    height: 80vh;
}

*{
    transition: all 0.3s ease;
}

textarea:focus, input:focus{
    outline: none;
}

input::placeholder{
    color: rgb(82, 82, 82);
}

a, span, button{
    position: relative;
    color: black;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px;
}

input, select, option, textarea{
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 4px;
}

input:hover, select:hover, option:hover, button:hover, a:hover, textarea:hover {
    background-color: #dae2f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@keyframes glow {
    0% { box-shadow: 0 0 18px #8a2be2; } 
    25% { box-shadow: 0 0 18px #ff0062; } 
    50% { box-shadow: 0 0 18px #e600ee; } 
    75% { box-shadow: 0 0 18px #3700ff; } 
    100% { box-shadow: 0 0 18px #8d2ee6; } 
}

@keyframes glowText {
    0% { text-shadow: 0 0 30px #8a2be2; } 
    25% {  text-shadow: #ff0062;} 
    50% { text-shadow: 0 0 30px #e600ee; } 
    75% { text-shadow: 0 0 30px #3700ff; } 
    100% { text-shadow: 0 0 30px #8d2ee6; } 
}
span {
    animation: glowText 3s infinite alternate;
    border-radius: 5px;
    padding: 10px;
}

button, a{
    animation: glow 3s infinite alternate; 
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    text-decoration: none;
    cursor: pointer;
    border: none;
}
