body {
    transition: all 0.3s;

}

a,
span {
    text-decoration: none;
    color: black;
}

div{
    margin-left: 10px;
}
button{
    padding: 5px 20px;
}

input, select{
    padding:5px ;
}

.menu>div>a {
    padding:100% 20px;
}

.menu>div:first-child{
    border-bottom: 1px solid;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 300px;
    padding: 10px;
    overflow: hidden;
}

.add-account {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    gap: 70px;
}

.edit-account{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    gap: 50px;
}

.edit-account>div, .add-account>div{
    display: flex;
    gap: 20px;
}





