body {
    transition: all 0.3s ease;
    margin: 10px;
}

.accent {
    transition: color 0.3s ease;
}

*{
    margin: 10px;
}

.header-container{
    display: flex;
    gap: 15vw;
}

.middle-container{
    margin-bottom: 5vh;
}

th,td{
    padding: 10px;    
}

input{
    padding: 10px;
    border-radius: 5px;
    border-style: double;
}

select{
    padding: 5px 10px;
    border-radius: 5px;
}

div > button{
    padding: 10px 15px;
}

a{
    text-decoration: none;
}
