body {
    transition: all 0.3s;
    margin: 0;
    padding-top: 1vw;
    overflow: hidden;
}

option{
    background-color: #ccc;
}

 input{
    width: 160px;
}

.add-account>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.add-account>div:nth-child(1), .add-account>div:nth-child(2){
    width: 85%;
}

.add-account >div:last-child{
    display: flex;
    margin-right: 68%;
}

@media(max-width:1160px){
    .add-account>div:nth-child(1), .add-account>div:nth-child(2){
        display: flex;
        width: 40%;
    }

    .add-account{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .add-account >div:last-child, .edit-account>div:last-child{
        display: flex;
        margin: 0;
    }

    .add-account>div:last-child>div, .add-account>div:last-child>div>textarea, .add-account>div>div> button{
        display: block;
        width: 110%;
    }

    .menu>div:last-child{
        display: block;
        flex-wrap: wrap;
    }

    .menu>div:last-child>span{
        display: block;
    }
    
}

.add-account>div:last-child>div, .add-account>div:last-child>div>textarea{
    display: block;
    width: 90%;
    flex-wrap: wrap;
}

.add-account>div>div, .edit-account>div>div{
    display: flex;
    align-items: center;
}
.add-account, .edit-account {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: max-content;
    gap: 3.5vw;
}

.edit-account{
    justify-content: flex-start;
    padding-left: 40px;
    flex-direction: column;
    gap: 2.5vw;

}

.edit-account>div:last-child{
    display: inline;
}

.edit-account>div, .add-account>div{
    display: flex;
    gap: 20px;
    
}
.edit-account>div:last-child>div{
    display: block;
    margin-bottom: 15px;

}
.edit-account>div:last-child>div>textarea{
    display: block;
}

.selected-link{
    background-color: rgb(179, 179, 179);
}

.selected-link:hover{
    background-color: #bbbbbb;
}

a,
span {
    text-decoration: none;
    color: black;
    padding: 12px 20px;
}

button{
    padding: 10px 25px;
    cursor: pointer;
}

input, select, select:focus{
    padding:5px;
    outline: none;
}

.menu>div>a {
    padding:12px 20px;
    margin: 5px 20px 5px 0;
    border-radius: 10px;
}

.menu>div:first-child{
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    padding: 15px;
}

img{
    width:100%;
    border-radius: 0 0 20px 20px;
}

.request{
    margin: 40px 0 0 10px;
    width: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.request > a{
    display: block;
    overflow: hidden;
    padding: 20px;
    text-decoration: none;
    color: black;
    background-color: rgb(212, 211, 212);
}

.header-admin{
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: space-between;
}

.menu-types{
    width: 90vw;
    display: flex;
}

.add-type, .edit-type {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    gap: 50px;
    flex-wrap: wrap;
}

.add-type>div>input, .edit-type >div>input{
    margin-right: 50px;
}

.edit-type>div:nth-of-type(2)>select{
    margin-right: 50px;
}


